/* ============================================
   NIHONGO MONOGATARI - Modular CSS Architecture
   All styles organized into focused, maintainable modules
   ============================================ */

/* Base Layer */
@import url('./base/variables.css');
@import url('./base/reset.css');
@import url('./base/typography.css');

/* Utilities */
@import url('./utilities/layout.css');
@import url('./utilities/helpers.css');

/* Components */
@import url('./components/headers.css');
@import url('./components/buttons.css');
@import url('./components/cards.css');
@import url('./components/badges.css');
@import url('./components/forms.css');
@import url('./components/modals.css');
@import url('./components/toasts.css');
@import url('./components/skeleton.css');
@import url('./components/progress.css');
@import url('./components/queue.css');
@import url('./components/readers.css');
@import url('./components/filters.css');
@import url('./components/emptystates.css');
@import url('./components/audioplayer.css');

/* Pages */
@import url('./pages/home.css');
@import url('./pages/settings.css');
@import url('./pages/kanachart.css');

/* Themes */
@import url('./themes/dark.css');

/* Animations */
@import url('./animations.css');
